{% extends 'base.template.html'%}
{%load static%}

{%block title%}
Browse Books
{%endblock%}

{%block content%}
<h1>Books</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Description</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {%for b in all_books%}
            <tr>
                <td><a href="{% url 'view_book_details_route' book_id=b.id %}">{{b.title}}</a></td>
                <td>{{b.ISBN}}</td>
                <td>{{b.desc}}</td>
                <td>
                    <a href="{% url 'update_book_route' book_id=b.id %}">Edit</a>
                    <a href="{% url 'delete_book_route' book_id=b.id %}">Delete</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{%endblock%}